a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #ea92ba;
}

footer p
{
  background-color: #fff;
}

.footer
{
  margin-top: 15px;
  margin: 10 auto;
}
.App .footer
{
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.title
{
  color: white;
  text-align: center;
}

.App-logo{
  width: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}