a {
  text-decoration: none;
  color: blueviolet;
}

a:hover {
  color: rgb(193, 48, 157);
}

.footer
{
  margin-top: 15px;
  padding-right: 50%;
}
.App .footer
{
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.title
{
  margin-left: 12%;
}

.App-logo{
  width: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}