img
{
  width: 200px;
  margin-right: 40px;
}
ul
{
  margin: 0;
  padding: 0;
}
li
{
  font-size: small;
  margin: 2px;
}
.Dictionary
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.speakerIcon
{
  font-size: 30px;
}
.speakerIcon:hover
{
  font-size: 32px;
  cursor: pointer;
}
.phonetic
{
  list-style: none;
}
.nounUl
{
  list-style-type: decimal;
  margin-left: 20px;
}