ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.box
{
    padding-left: 10px;
}
.meaning-box
{
    box-shadow: 2px 1px 4px grey;
    margin-bottom: 20px;
}
.examples
{
    opacity: 0.9;
    font-style: italic;
    font-size: 14px;
}